<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--HEAD-->
<head>
    <title>Biblioteca - Libro</title>
</head>
<head th:replace="~{/fragments/head :: head}"></head>

<!--BODY-->
<body>

<!--NAV-->
<nav th:replace="~{/fragments/navbar :: nav}"></nav>

<a href="/book">
    <i class="fas fa-arrow-left"></i>
</a>

<div class="contenedor">

    <div class="contenedor-hijo">

        <div class="mb-3 bg-dark text-white">

            <div class="row g-0">

                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img th:src="@{'/photo/book/' + ${book.id}}" class="img-fluid rounded-start" alt="Portada Libro">
                </div>

                <div class="col-md-8 card-body1">

                    <h3 class="text-center mb-4" th:text="${book.title}"></h3>

                    <div sec:authorize="hasRole('ADMIN')" class="botones-book-card">

                        <a th:if="${book.unsubscribe != null}" th:href="@{/book/high/__${book.id}__}"
                           title="Dar de Alta">
                            <i class="fas fa-arrow-up text-success"></i>
                        </a>

                        <a th:unless="${book.unsubscribe != null}"
                           th:href="@{/book/low/__${book.id}__}" title="Dar de Baja">
                            <i class="fas fa-arrow-down text-danger"></i>
                        </a>

                        <a th:href="@{/book/update/__${book.id}__}" title="Modificar">
                            <i class="fas fa-feather-alt text-warning"></i>
                        </a>

                        <a th:href="@{/book/delete/__${book.id}__}" title="Eliminar">
                            <i class="fas fa-archive text-danger"></i>
                        </a>

                    </div>

                    <ul>
                        <li sec:authorize="hasRole('ADMIN')" class="items" th:text="'ID: ' + ${book.id}"></li>
                        <li class="items" th:text="'ISBN: ' + ${book.isbn}"></li>
                        <li class="items" th:text="'DESCRIPCION: ' + ${book.description}"></li>
                        <li class="items" th:text="'FECHA: ' + ${book.datePublisher}"></li>
                        <li class="items" th:text="'CANTIDAD DE PAGINAS: ' + ${book.amountPages}"></li>
                        <li class="items" th:text="'AUTOR: ' + ${author.name}"></li>
                        <li class="items" th:text="'EDITORIAL: ' + ${publisher.name}"></li>
                        <li sec:authorize="hasRole('ADMIN')" class="items"
                            th:text="'EJEMPLARES: ' + ${book.amountCopies}"></li>
                        <li sec:authorize="hasRole('ADMIN')" class="items"
                            th:text="'EJEMPLARES PRESTADOS: ' + ${book.amountCopiesBorrowed}"></li>
                        <li class="items" th:text="'EJEMPLARES DISPONIBLES: ' + ${book.amountCopiesRemaining}"></li>
                        <li sec:authorize="hasRole('ADMIN')" class="items" th:text="'ALTA: ' + ${book.register}"></li>
                        <li sec:authorize="hasRole('ADMIN')" class="items"
                            th:text="'BAJA: ' + ${book.unsubscribe}"></li>

                    </ul>

                    <div sec:authorize="hasRole('ROLE_USER')" th:if="${book.amountCopiesRemaining > 0}" class="card-prestamo">

                        <form th:action="@{/loan/register}" method="POST" th:object="${loan}">

                            <div>
                                <h5>Prestamo</h5>
                                <p>Si desea realizar un prestamo de este libro complete lo siguiente:</p>
                            </div>

                            <div class="fechas">

                                <div>
                                    <label for="dateReturn" class="mb-1">Fecha Devolucion</label>
                                    <input type="date" class="form-control" id="dateReturn" name="dateReturn" required
                                           th:field="*{dateReturn}">
                                </div>

                                <div>
                                    <input type="hidden" name="idBook" id="idBook" th:value="${book.id}"/>
                                </div>

                            </div>

                            <div>
                                <button type="submit" class="btn btn-danger">Crear Prestamo</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PIE PAGINA-->
<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script th:replace="~{/fragments/script :: script}"></script>
</body>
</html>