<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biblioteca - Libros</title>
    <head th:replace="~{/fragments/head :: head}"></head>
</head>
<body>
<nav th:replace="~{/fragments/navbar :: nav}"></nav>

<div>
    <h1>LIBROS DISPONIBLES</h1>
</div>

<!--FILTRAR-->
<div class="dropdown text-center">
    <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
       aria-expanded="false">
        Filtrar por...
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="/author">Autor</a></li>
        <li><a class="dropdown-item" href="/publisher">Editorial</a></li>
    </ul>
</div>

<div class="filtrar">
    <div><h5>Buscar libro por titulo</h5></div>
    <div>
        <form action="/book" method="GET" enctype="multipart/form-data">
            <select class="filtrar-select" name="idBook">
                <option selected disabled>Seleccionar</option>
                <option>Todos</option>
                <option th:each="book : ${booksActive}" th:value="${book.id}" th:text="${book.title}"></option>
            </select>
            <div class="filtrar-boton">
                <button type="submit" class="btn btn-warning">Buscar</button>
            </div>
        </form>
    </div>
</div>

<div sec:authorize="hasRole('ADMIN')" class="centrar-boton">
    <a href="/book/register" class="btn btn-dark" tabindex="-1" role="button">Agregar libro</a>
</div>

<div class="contenedor">

    <div class="contenedor-hijo" th:each="book : ${books}">

        <div class="card">

            <div class="col-md-4 imagen-card">
                <img th:src="@{'/photo/book/' + ${book.id}}" class="rounded-start" alt="Portada Libro">
            </div>

            <div class="col-md-8 card-body">

                <h5 class="card-title" th:text="${book.title}"></h5><br>

                <ul>
                    <li th:text="'ISBN: ' + ${book.isbn}"></li>
                    <li th:text="'AUTOR: ' + ${book.author.name}"></li>
                    <li th:text="'EDITORIAL: ' + ${book.publisher.name}"></li>
                    <li th:text="'EJEMPLARES DISPONIBLES: ' + ${book.amountCopies}"></li>
                </ul>

                <a class="btn btn-warning" th:href="@{'/book/view/' + ${book.id}}" role="button">Ver más</a>

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="botones">

                    <a th:if="${book.unsubscribe != null}"
                       th:href="@{'/book/high/' + ${book.id}}" title="Dar de Alta">
                        <i class="fas fa-arrow-up text-success"></i>
                    </a>

                    <a th:unless="${book.unsubscribe != null}"
                       th:href="@{'/book/low/' + ${book.id}}" title="Dar de Baja">
                        <i class="fas fa-arrow-down text-danger"></i>
                    </a>

                    <a th:href="@{'/book/update/' + ${book.id}}"
                       title="Modificar">
                        <i class="fas fa-feather-alt text-warning"></i>
                    </a>

                    <a th:href="@{'/book/delete/' + ${book.id}}"
                       title="Eliminar">
                        <i class="fas fa-archive text-danger"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script th:replace="~{/fragments/script :: script}"></script>
</body>
</html>