<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Biblioteca - Iniciar Sesión</title>
    <head th:replace="~{/fragments/head :: head}"></head>
</head>

<body>
<nav th:replace="~{/fragments/navbar :: nav}"></nav>

<main class="form-signin w-100 m-auto">

    <form th:action="@{/login}" method="POST">

        <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>

        <p th:if="${error} != null" th:text="${error}" class="error"></p>
        <p th:if="${logout} != null" th:text="${logout}" class="logout text-success"></p>

        <div class="form-floating">
            <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com"
                   th:value="${username}">
            <label for="username">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña"
                   th:value="${password}">
            <label for="password">Contraseña</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Ingresar</button>

    </form>
</main>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script th:replace="~{/fragments/script :: script}"></script>
</body>
</html>