<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Biblioteca - Modificar prestamo</title>
    <head th:replace="~{/fragments/head :: head}"></head>
</head>

<body>
<nav th:replace="~{/fragments/navbar :: nav}"></nav>

<a href="/loan">
    <i class="fas fa-arrow-left"></i>
</a>

<h1 class="mb-3">Modificar prestamo</h1>

<div class="d-flex justify-content-center">
    <div class="w-75 text-light d-flex justify-content-center">
        <div class="mb-3">

            <form th:action="@{/loan/update}" method="POST" th:object="${loan}">

                <input type="hidden" name="id" th:value="${loan.id}">

                <div class="mb-3">
                    <label for="dateLoan" class="col col-form-label">Fecha prestamo</label>
                    <div class="col-sm-10 w-100">
                        <input type="date" class="form-control" name="dateLoan" id="dateLoan"
                               th:value="${#temporals.format(loan.dateLoan, 'yyyy-MM-dd')}" readonly/>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="dateReturn" class="col col-form-label">Fecha devolucion</label>
                    <div class="col-sm-10 w-100">
                        <input type="date" required class="form-control" id="dateReturn" name="dateReturn"
                               th:value="${#temporals.format(loan.dateReturn, 'yyyy-MM-dd')}"/>
                    </div>
                </div>
                <span th:errors="*{dateReturn}" class="text-danger" th:if="${#fields.hasErrors('dateReturn')}"></span>

                <div class="mb-3">
                    <label for="idBook" class="col col-form-label">Libro</label>
                    <div class="col-sm-10 w-100">
                        <select class="form-control" id="idBook" name="idBook">
                            <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.title}"
                                    th:selected="${loan.idBook != null && book.id == loan.idBook}"></option>
                        </select>
                    </div>
                </div>
                <span th:errors="*{idBook}" class="text-danger" th:if="${#fields.hasErrors('idBook')}"></span>

                <div class="mb-3">
                    <label class="col col-form-label">Usuario</label>
                    <div class="col-sm-10 w-100">
                        <input type="hidden" class="form-control" th:field="*{idUser}"/>
                        <input type="text" class="form-control" th:value="${user}" readonly disabled/>
                    </div>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto boton-libro">
                    <button type="submit" class="btn btn-secondary">Modificar</button>
                </div>

            </form>
        </div>
    </div>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script th:replace="~{/fragments/script :: script}"></script>
</body>
</html>
