<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Biblioteca - Registrar libro</title>
    <head th:replace="~{/fragments/head :: head}"></head>
</head>

<body>
<nav th:replace="~{/fragments/navbar :: nav}"></nav>

<a href="/book">
    <i class="fas fa-arrow-left"></i>
</a>

<h1 class="mb-3">Registrar libro</h1>

<div class="d-flex justify-content-center">
    <div class="w-75 text-light d-flex justify-content-center">
        <div class="mb-3">

            <form th:action="@{/book/register}" method="POST" enctype="multipart/form-data" th:object="${book}">

                <p th:if="${error != null}" th:text="${error}" class="error"></p>

                <div class="mb-3">
                    <label for="isbn" class="col col-form-label">ISBN</label>
                    <div class="col-sm-10 w-100">
                        <input type="text" class="form-control" id="isbn" name="isbn" th:field="*{isbn}"/>
                    </div>
                </div>
                <span th:errors="*{isbn}" class="text-danger" th:if="${#fields.hasErrors('isbn')}"></span>

                <div class="mb-3">
                    <label for="title" class="col col-form-label">Titulo</label>
                    <div class="col-sm-10 w-100">
                        <input type="text" class="form-control" id="title" name="title" th:field="*{title}"/>
                    </div>
                </div>
                <span th:errors="*{title}" class="text-danger" th:if="${#fields.hasErrors('title')}"></span>

                <div class="mb-3">
                    <label for="description" class="col col-form-label">Descripcion</label>
                    <div class="col-sm-10 w-100">
                        <input type="text" class="form-control" id="description" name="description"
                               th:field="*{description}"/>
                    </div>
                </div>
                <span th:errors="*{description}" class="text-danger" th:if="${#fields.hasErrors('description')}"></span>

                <div class="mb-3">
                    <label for="file" class="col col-form-label">Foto</label>
                    <div class="col-sm-10 w-100">
                        <input type="file" class="form-control" id="file" name="file" th:field="*{photoDto.file}"/>
                    </div>
                </div>
<!--                <span th:errors="*{photoDto.file}" class="text-danger" th:if="${#fields.hasErrors('photoDto.file')}"></span>-->

                <div class="mb-3">
                    <label for="datePublisher" class="col col-form-label">Fecha publicacion</label>
                    <div class="col-sm-10 w-100">
                        <input type="date" min="1376-01-01" class="form-control" id="datePublisher"
                               name="datePublisher" th:field="*{datePublisher}"/>
                    </div>
                </div>
                <span th:errors="*{datePublisher}" class="text-danger"
                      th:if="${#fields.hasErrors('datePublisher')}"></span>

                <div class="mb-3">
                    <label for="amountPages" class="col col-form-label">Cantidad de paginas</label>
                    <div class="col-sm-10 w-100">
                        <input type="number" min="1" class="form-control" id="amountPages" name="amountPages"
                               th:field="*{amountPages}"/>
                    </div>
                </div>
                <span th:errors="*{amountPages}" class="text-danger" th:if="${#fields.hasErrors('amountPages')}"></span>

                <div class="mb-3">
                    <label for="amountCopies" class="col col-form-label">Ejemplares</label>
                    <div class="col-sm-10 w-100">
                        <input type="number" class="form-control" id="amountCopies" name="amountCopies"
                               th:field="*{amountCopies}"/>
                    </div>
                </div>
                <span th:errors="*{amountCopies}" class="text-danger"
                      th:if="${#fields.hasErrors('amountCopies')}"></span>

                <div class="mb-3">
                    <label for="amountCopiesBorrowed" class="col col-form-label">Ejem. prestados</label>
                    <div class="col-sm-10 w-100">
                        <input
                                type="number"
                                class="form-control"
                                id="amountCopiesBorrowed"
                                name="amountCopiesBorrowed"
                                th:field="*{amountCopiesBorrowed}"
                        />
                    </div>
                </div>
                <span th:errors="*{amountCopiesBorrowed}" class="text-danger"
                      th:if="${#fields.hasErrors('amountCopiesBorrowed')}"></span>

                <div class="mb-3">
                    <label for="idAuthor" class="col col-form-label">Autor</label>
                    <div class="col-sm-10 w-100">
                        <select class="form-select" id="idAuthor" name="idAuthor">
                            <option th:each="author : ${authors}" th:value="${author.id}" th:field="*{idAuthor}"
                                    th:text="${author.name}"></option>
                        </select>
                    </div>
                </div>
                <span th:errors="*{idAuthor}" class="text-danger" th:if="${#fields.hasErrors('idAuthor')}"></span>

                <div class="mb-3">
                    <label for="idPublisher" class="col col-form-label">Editorial</label>
                    <div class="col-sm-10 w-100">
                        <select class="form-select" id="idPublisher" name="idPublisher">
                            <option th:each="publisher : ${publishers}" th:value="${publisher.id}"
                                    th:field="*{idPublisher}"
                                    th:text="${publisher.name}"></option>
                        </select>
                    </div>
                </div>
                <span th:errors="*{idPublisher}" class="text-danger" th:if="${#fields.hasErrors('idPublisher')}"></span>

                <div class="d-grid gap-2 col-6 mx-auto boton-libro">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script th:replace="~{/fragments/script :: script}"></script>
</body>
</html>