<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Biblioteca - Registrar Prestamo</title>
    <head th:replace="~{/fragments/head :: head}"></head>
</head>

<body>
<nav th:replace="~{/fragments/navbar :: nav}"></nav>

<a sec:authorize="hasRole('ROLE_ADMIN')" href="/loan">
    <i class="fas fa-arrow-left"></i>
</a>
<a sec:authorize="hasRole('ROLE_USER')" href="/loan/my-loans">
    <i class="fas fa-arrow-left"></i>
</a>

<h1 class="mb-3">Registrar prestamo</h1>

<div class="d-flex justify-content-center">
    <div class="w-75 text-light d-flex justify-content-center">
        <div class="mb-3">

            <form th:action="@{/loan/register}" method="POST" enctype="multipart/form-data"
                  th:object="${loan}">

                <p th:if="${error != null}" th:text="${error}" class="error"></p>

                <div class="mb-3">
                    <label for="dateReturn" class="col col-form-label">Fecha devolución</label>
                    <div class="col-sm-10 w-100">
                        <input type="date" class="form-control" id="dateReturn" name="dateReturn"
                               th:field="*{dateReturn}"/>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="idBook" class="col col-form-label">Libro</label>
                    <div class="col-sm-10 w-100">
                        <select class="form-select" id="idBook" name="idBook">
                            <option th:each="book : ${books}" th:value="${book.id}"
                                    th:text="${book.title}"></option>
                        </select>
                    </div>
                </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="mb-3">
                    <label for="idUser" class="col col-form-label">Usuario</label>
                    <div class="col-sm-10 w-100">
                        <select class="form-select" id="idUser" name="idUser">
                            <option th:each="user : ${users}" th:value="${user.id}"
                                    th:text="${user.email}"></option>
                        </select>
                    </div>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto boton-libro">
                    <button type="submit" class="btn btn-secondary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script th:replace="~{/fragments/script :: script}"></script>
</body>
</html>