<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Biblioteca - Usuarios</title>
    <head th:replace="~{/fragments/head :: head}"></head>
</head>
<body>
<nav th:replace="~{/fragments/navbar :: nav}"></nav>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <h1>Lista Usuarios</h1>

    <div>
        <div class="filtrar">
            <div>
                <h5>Buscar usuario</h5>
            </div>
            <div>
                <form action="/user" method="GET" enctype="multipart/form-data">
                    <select class="filtrar-select" name="idUser">
                        <option selected>Todos</option>
                        <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.email}"
                                th:selected="${userSelected != null && user.id == userSelected.id}"></option>
                    </select>

                    <div class="filtrar-boton">
                        <button type="submit" class="btn btn-warning">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="contenedor">
        <div class="contenedor-hijo" th:each="user : ${users}">
            <div class="card">

                <div class="col-md-4 imagen-card">
                    <img th:src="@{'/photo/user/' + ${user.id}}" class="rounded-start"
                         alt="Foto usuario">
                </div>

                <div class="col-md-8 card-body">

                    <strong class="text-center text-success" th:if="${user.unsubscribe == null}"
                            th:text="'ACTIVO '"></strong>

                    <strong class="text-center text-danger" th:unless="${user.unsubscribe == null}"
                            th:text="'INACTIVO '"></strong>


                    <ul class="lista-prestamos">
                        <li class="fw-bold" th:text="'ROL: ' + ${user.role}"></li>
                        <li th:text="'USUARIO: ' + ${user.email}"></li>
                        <li th:text="'NOMBRE: ' + ${user.name}"></li>
                        <li th:text="'APELLIDO: ' + ${user.lastName}"></li>
                        <li th:text="'DOCUMENTO: ' + ${user.dni}"></li>
                        <li th:text="'TELEFONO: ' + ${user.phone}"></li>
                        <li th:text="'SEXO: ' + ${user.gender}"></li>
                        <li th:text="'ZONA: ' + ${user.city.name}"></li>
                        <li th:text="'ALTA: ' + ${user.register}"></li>
                        <li th:text="'BAJA: ' + ${user.unsubscribe}"></li>
                    </ul>

                    <div class="botones">
                        <a th:if="${user.unsubscribe != null}" th:href="@{/user/high/__${user.id}__}"
                           title="Dar de Alta"><i class="fas fa-arrow-up text-success"></i></a>

                        <a th:unless="${user.unsubscribe != null}" th:href="@{/user/low/__${user.id}__}"
                           title="Dar de Baja"><i class="fas fa-arrow-down text-danger"></i></a>

                        <a th:if="${#strings.equals(user.role, 'USER')}"
                           th:href="@{/user/change-role/__${user.id}__}"
                           title="Cambiar a Administrador"><i class="fas fa-star text-warning"></i></a>

                        <a th:unless="${#strings.equals(user.role, 'USER')}"
                           th:href="@{/user/change-role/__${user.id}__}" title="Cambiar a Usuario"><i
                                class="fas fa-user text-primary"></i></a>

<!--                        <a th:href="@{/user/edit-profile/__${user.id}__}" title="Modificar"><i-->
<!--                                class="fas fa-feather-alt text-warning"></i></a>-->

                        <a th:href="@{/user/delete/__${user.id}__}" title="Eliminar">
                            <i class="fas fa-archive text-danger"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/fragments/footer :: footer}"></footer>

<script th:replace="~{/fragments/script :: script}"></script>
</body>
</html>