* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html{
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.93) 20%, #212529 79.9%);
    background-attachment: fixed;
    position: relative;
    padding-bottom: 4rem;
}

h1 {
    text-align: center;
    color: #fff;
}

a{
    text-decoration: none;
}

ul{
    list-style: circle;
}

.boton-libro{
    margin-bottom: 75px;
}

.error{
     color: #ff0000;
     text-align: center;
     font-weight: bold;
}

.logout{
    color: #198754;
    text-align: center;
    font-weight: bold;
}

.bg-none{
    background-image: none;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botones a{
    margin: 0.5rem;
}

.fa-arrow-left {
    font-size: 1.5rem;
    color: #fff;
    margin: 1rem;
}

/*******************************animacioness titulo****************************/

.t-stroke {
    color: transparent;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-color: #000000;
    -webkit-text-stroke-color: #ffffff;
}

.t-shadow-halftone {
    position: relative;
}

.t-shadow-halftone::after {

    content: "¡Bienvenido a la Libreria!";
    letter-spacing: 0px;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-stroke-width: 0;
    -webkit-text-stroke-width: 0;
    position: absolute;
    text-align: center;
    left: 8px;
    right: 0;
    top: 6px;
    z-index: -1;
    transition: all 0.5s ease;
}

.centrar-boton{
    margin: 0.2rem;
}

.centrar{
    margin: 8rem auto;
}

.titulo{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.nombreUsuario{
    color: grey;
    margin-bottom: 1rem;
}

.enlacesSub{
    margin: 1.5rem 0rem;
}

.enlaces-sub{
    text-decoration: none;
    color: white;
}

.enlaces-sub:hover{
    color: darkgray;
}

.direction{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-mod{
    padding: 1rem;
}

.contenedor{
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;/*si activamos este desactivas el colum*/
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.contenedorHijo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
}

.card{
        display: flex;
        flex-direction: row;
        max-width: 450px;
        background-color: #212529;
        color: #fff;
        margin: 1rem;
}

.imagen-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-card img {
    width: 100%;
}

/*Login*/

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/****************************************ESTILOS FOOTER**************************************/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #212529;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    font-size: .875em;
    text-align: center;
    margin-bottom: 0px;
}

.links-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin-bottom: 0;
}

.links-footer ul a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}

.liFooter{
    display: flex;
    justify-content: space-around;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #fff;
    font-weight: lighter;
    font-size: smaller;
}

.liFooter:hover{
    color: rgb(114, 114, 114);
}

button{
    cursor: pointer;
}

li:hover{
    opacity: 0.4;
}

/****************************************ESTILOS FILTRAR**************************************/

.filtrar{
    width: 400px;
    height: 125px;
    text-align: center;
    border-style: double;
    border-color: #212529;
    margin: 1% auto;
    margin-bottom: 1rem;
}

.filtrar-select{
    margin: 1% auto;
    width: 300px;
    height: 30px
}

.filtrar-boton{
    margin: 2% auto
}

/***********************************ESTILOS PAGINA LIBRO*****************************************/

.contenedor1{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    padding: 1rem;
}

.img-fluid1{
    width: 13.5rem;
    height: 20rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body1{
    margin: 2% auto;
    padding: 0.2rem;
}

.card-prestamo{
    /*    display: flex;
        justify-content: space-around;*/
    margin: 2% auto;
}

.lista-prestamos{
    padding-left: 5px;
}

.fechas{
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

.inputFecha {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card-title1{
    text-align: center;
    margin-top: 2%
}

.items{
    margin-bottom: 2%;
    list-style: circle;
}

/* Estilos para pantallas pequeñas (ejemplo: teléfonos móviles) */
@media screen and (max-width: 768px) {

    body {
        font-size: 14px;/*Tamaño de fuente más pequeño para pantallas pequeñas*/
    }

    .titulo{
        font-size: 2.5rem;
        margin-bottom: 2%;
    }

    /****************************************ESTILOS FILTRAR**************************************/

    .filtrar{
        width: 300px;
    }

    .filtrar-select{
        width: 275px;
    }

    .direction{
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .img-mod{
        padding: 1rem;
    }
}